html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 6rem;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  text-align: center;
  margin-top: 5%;
  background-color: #464646;
  opacity: 0.75;
}

.footerImg {
  height: 35px;
  width: 35px;
  float: right;
}

div.span {
  font-size: 100px;
}
