li {
  text-align: left;
}

li.nav {
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-size: large;
  background-color: #FFFFFF;
}

ul.nav {
  background-color:#000000;
  opacity: 0.90;
}

li.active {
  background-color: #FFFFFF;
  text-decoration: underline;
}

li.active > a {
  color: black;
}

@media (max-width: 650px){
  li.nav {
    line-height: normal;
    font-size: medium;
  }
}
