body{
  background-image: url('../images/Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  font-family: courier;
  padding-bottom: 6rem;
}

p, h1, h2, h3, h4{
  color: #000000;
  text-align: center;
  margin: 0px;
}

h1 {
  color: #FFFFFF;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

img.logo{
  height: 80px;
  width: 80px;
}

li{
  line-height: 1.5
}

@media (max-width: 650px){
  body {
    background-image: url('../images/BreakpointBackground.png');
  }
}
