<!-- General stuff -->

p {
  text-align: center;
  color: #FCFBE3;

}


p.contact {
  text-align: left;
  color: #FCFBE3;

}



h1 {
  color: #FCFBE3;
}

h2 {
	text-align: center;
  color: #FCFBE3;
}

h1 {
  text-align: center;
  color: #FCFBE3
}

h3 {
  color: #FCFBE3;
}

h4 {
  color: white;
}



<!-- Nav bar stuff -->



ul.nav li a, ul.nav li a:visited {
  color: orange !important;
}

<<<<<<< HEAD
ul.nav li a:hover, ul.nav li a:active {
  color: green !important;
}

ul.nav li.active a {
  color: black !important;
}

a {
  color: white;
}
=======
body.homepage {
    background-image: url('images/Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    color: #FCFBE3;
  }
>>>>>>> parent of 8f0475d... Removed to-do list from website code


li.active {
  background-color: green;
}


ul.nav {
  background-color:#000000;
  opacity: 0.70
}


<!-- home page stuff -->

body.homepage {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}



body {
  background-color: #464646;
}




