p {
	text-align: center;
  color: #FCFBE3;

}


p.contact {
  text-align:left;
  color: #FCFBE3;

}


}

h1 {
  color: #FCFBE3;
}

h2 {
	text-align: center;
  color: #FCFBE3;
}

h1 {
  text-align: center;
  color: #FCFBE3
}

h3 {
  color: #FCFBE3;
}

h4 {
  color: #FCFBE3;
}


ul {
  color: #FCFBE3;
}

a:link {
  color: #00CC99;
}

body.homepage {
    background-image: url('images/Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    color: #FCFBE3;
  }



  body {
background-color: #464646;
  }

  
div.navbar {
  background-color:#000000;
  opacity: 0.50
  }

