.bio {
	&__button {
		color: $black;
		display: inline-block;
		margin: 1em;
		text-align: center;
    	width: 8em;
    	&:visited {
    		color: $black;
    	}
	}
	&__button-container {
		text-align: center;
	}
	&__photo {
		float: left;
		height: 13rem;
		margin-right: 3em;
		shape-outside: circle();
		-webkit-shape-outside: circle();
  		width: 13rem;
	  	@media (max-width: 767px) {
	    	float: unset;
		}
	}
	&__text {
		text-align: justify;
	}
	&__title {
		border-bottom: none;
		padding-bottom: 0;
	}
}