<nav class="navbar-inverse navbar-static-top" role="navigation">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span>Menu</span>
      </button>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-target="#index-header">
  	<ul class="nav nav-justified">
  		{% for item in site.data.navigation %}
  		  <li class="nav"><a href="{{ item.link }}" {% if page.url == item.link %} class="active nav d-inline-block align-top" {% endif %}>
  		      {{ item.name }}</a>
        </li>
  		{% endfor %}
  	</ul>
  </div>
</nav>