.bio {
	min-height: 100%;
	border-top: 1px solid $dark-teal;
	@media (min-width: $desktop) {
		display: flex;
		flex-direction: row;
		align-content: stretch;
	}
	&--left {
		@media (min-width: $desktop) {
			flex: 2;
			padding-right: 2rem;
			border-left: 1px solid $dark-teal;
			padding-left: 2rem;
			margin-top: 0;
			padding-top: 1rem;
		}
	}
	&--right {
		@media (min-width: $desktop) {
			flex: 2;
			margin-top: 0;
			margin-top: 0;
			padding-top: 1rem;
		}
	}
	&__content-section {
		border-top: 2px solid $dark-teal;

		margin-top: 3rem;
		padding: 1rem 0 0 0;

		&:first-of-type {
			margin-top: 2rem;
		}
	}
	&__image {
		width: 10rem;
		border-radius: 1rem;
		height: 10rem;
		display: inline-block;
		float: right;
		margin: 1rem 1rem 0 0;

		@media (max-width: $mobile) {
	    	width: 8rem;
			height: 8rem;
			margin: 1rem;
		}
	}
	&__button {
		color: $black;
		display: inline-block;
		text-align: center;
		margin-top: 0.5rem;
    	&:visited {
    		color: $black;
    	}
	}
	&__photo {
		float: right;
		height: 13rem;
		margin-left: 3em;
		shape-outside: circle();
		-webkit-shape-outside: circle();
  		width: 13rem;
		margin-top: 2rem;
	  	@media (max-width: $mobile) {
	    	float: unset;
	    	margin: auto;
			margin-top: 1rem;
		}
	}
	&__title {
		border-bottom: none;
		padding-bottom: 0;
		text-align: left;
	}
	&__sub-title {
		margin-top: 1rem;
		margin-bottom: 0.5rem;
	}
}