div.background{
  background-color: $bubble-background;
  opacity: 0.9;
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom:2%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

div.homepageBubble{
  background-color: $bubble-background;
  opacity: 0.75;
  z-index:-1;
  border-radius: 75px;
}

div.bubble{
  background-color: $bubble-background;
  opacity: 0.95;
  border-radius: 75px;
  padding: 20px;

}

div.big-bubble {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom:2%;
  border-radius: 35px;
  background-color: $bubble-background;
  opacity: 0.95;
  border-radius: 125px;
}


div.headerLabel {
  float: right;
}


div.col {
  padding: 2%;
  background-clip: padding-box;
  border: 35px solid transparent;
}


@media (max-width: 650px){
  div.bubble{
    border-radius: 90px;
    padding: 20px;
  }
  div.homepageBubble{
    border-radius: 50px;
  }
  div.background{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

}
