html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 6rem;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  text-align: center;
  margin-top: 5%;
  background-color: $footer-background;
  opacity: 0.90;
}

.footerImg {
  height: 35px;
  width: 35px;
  float: right;
  margin-right: 10px;
}

.footer__name {
  margin-left: 90px;
}

div.span {
  font-size: 100px;
}
