.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  text-align: center;
  margin-top: 5%;
  background-color: $footer-background;
  opacity: 0.90;
  &__img {
    height: 2rem;
    width: 2rem;
    float: right;
    margin-right: 0.5rem;
  }
  &__name {
    margin-left: 5.5rem;
  }
  &__logo {
    height: 5rem;
    width: 5rem;
  }
}

/*-------- POSITIONING --------*/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 6rem;
}

div.span {
  font-size: 6.25rem;
}
