.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  text-align: center;
  margin-top: 5%;
  background-color: $footer-background;
  opacity: 0.90;
  &__img {
    height: 35px;
    width: 35px;
    float: right;
    margin-right: 10px;
  }
  &__name {
    margin-left: 90px;
  }
  &__logo {
    height: 80px;
    width: 80px;
  }
}

/*-- Positioning --*/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 6rem;
}

div.span {
  font-size: 100px;
}
