/*-------- COLOURS --------*/
$background: 			#464646;
$visited-link: 			#0099CC;
$background: 			#CDDDDD;
$link: 					#008100;
$border: 				#7E7E7E;
$button: 				#FFCC11;
$black: 				#000000; 
$white: 				#FFFFFF;

/*-------- FONT SIZES --------*/
$font-size-1: 			1rem; 		//16px
$font-size-2: 			1.125rem; 	//18px
$font-size-3: 			1.25rem; 	//20px
$font-size-4: 			1.5rem; 	//24px
$font-size-5: 			1.75rem; 	//28px
$font-size-6: 			2rem; 		//32px
$font-size-7: 			2.5rem; 	//40px
$font-size-8: 			3.25rem; 	//52px

/*------- LAYOUT BREAKPOINTS ------- */
$mobile: 				40.625rem; 	// 650px
$tablet:				48rem;		// 768px