/*-------- COLOURS --------*/
$footer-background: 	#464646;
$visited-link: 			#0099CC;
$link: 					#008100;
$nav-bar-background: 	#FFFFFF;
$black-text: 			#000000; 
$white-text: 			#FFFFFF;
$color-behind-navbar: 	#000000;
$body-background-color: #464646;
$bubble-background: 	#CDDDDD;
$border: 				#7E7E7E;
$button: 				#FFCC11;

/*-------- FONT SIZES --------*/
// Bootstrap has set a base font-size of 10px
$font-size-1: 1.6rem; 	//16px
$font-size-2: 1.8rem; 	//18px
$font-size-3: 2rem; 	//20px
$font-size-4: 2.4rem; 	//24px
$font-size-5: 2.8rem; 	//28px
$font-size-6: 3.2rem; 	//32px
$font-size-7: 4rem; 	//40px
$font-size-8: 5.2rem; 	//52px