/*-------- COLOURS --------*/
$black: 				#000000; // used for most text
$blue: 					#0099CC; // used on visited links
$green: 				#016401; // used on unvisited links and blog tags
$grey: 					#464646; // used for footer background
$light-grey: 			#7E7E7E; // used on input box border
$mint-green: 			#CDDDDD; // used as body text background
$white: 				#FFFFFF; // used for some text
$yellow: 				#FFCC11; // used on button backgrounds
$off-white:				#EEEEEE; // used for page dividers

/*-------- FONT SIZES --------*/
$font-size-1: 			1rem; 		//16px
$font-size-2: 			1.125rem; 	//18px
$font-size-3: 			1.25rem; 	//20px
$font-size-4: 			1.5rem; 	//24px
$font-size-5: 			1.75rem; 	//28px
$font-size-6: 			2rem; 		//32px
$font-size-7: 			2.5rem; 	//40px
$font-size-8: 			3.25rem; 	//52px

/*------- LAYOUT BREAKPOINTS ------- */
$mobile: 				40.625rem; 	// 650px
$tablet:				48rem;		// 768px