body {
  background: $body-background-color url('../static/Background.jpg') no-repeat fixed;
  background-size: cover;
  @media (max-width: 40.625rem){
    background-image: url('../static/BreakpointBackground.png');
  }
}

img { 
  border-radius: 50%;
  display: block;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
}

.talk-photos {
  margin: 2rem;
  text-align: center;
  &__img {
    display: inline;
    margin: 0 1rem;
  }
}




