// change to page-content
.background {
  background-color: $mint-green;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  margin: 0 15%;
  opacity: .95;
  padding: 2% 10%;
  @media (max-width: $tablet){
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.bubble {
  background-color: $mint-green;
  opacity: 0.95;
  border-radius: 4.5rem;
  padding: 1.25rem;
  @media (max-width: $mobile){
    border-radius: 5.5rem;
  }
}

.col {
  background-clip: padding-box;
  border: 2.1875rem solid transparent;
  padding: 2%;
}