// change to page-content
.background {
  background-color: $mint-green;
  margin: 0 15%;
  opacity: .95;
  padding: 2% 10%;
  @media (max-width: $tablet){
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.col {
  background-clip: padding-box;
  border: 2.1875rem solid transparent;
  padding: 2%;
}

main {
  min-height: 100%;
}