//This is based off of the bootstrap nav bar, so the hackiness is for overriding it

li {
  text-align: left;
}

li.nav {
  background-color: $nav-bar-background;
  font-size: $font-size-2;
  letter-spacing: 0.1em;
  line-height: 1.5;
  padding-bottom: 0;
}

ul.nav {
  background-color: $color-behind-navbar;
  opacity: 0.90;
}

li.active {
  text-decoration: underline;
}

li.active > a {
  color: $black-text;
}

.nav>li>a {
  border: 2px solid transparent;
  box-sizing: border-box;
  &:hover, &:focus, &:active {
    border: 0.125rem solid black;
    color: $black-text;
    text-decoration: none;
  }
}

@media (max-width: 40.625rem){
  li.nav {
    font-size: $font-size-1;
    line-height: normal;
  }
  .nav>li>a{
    padding: 0.25rem
  }
}