/*-------- BASE --------*/
html {
  font-family: 'Ek Mukta', serif;
  font-size: 100%;
}

/*-------- GENERAL TYPOGRAPHY --------*/
p, li, a {
  font-size: $font-size-2;
}

p, h1, h2, h3, h4, legend {
  color: $black-text;
  text-align: center;
  margin: 0px;
  padding: 10px;
}

li {
  line-height: 1.5;
  padding-bottom: 16px;
}

/*-------- LINKS --------*/
a {
  color: $link;
  &:visited {
    text-decoration: none;
    color: $link;
  }
  &:hover {
    color: $visited-link;
  }
}
