/*-------- BASE --------*/
html, body {
  font-family: 'Ek Mukta', serif;
  font-size: 100%;
  line-height: 1.5;
}

main * + * {
  margin-top: 1.5rem;
}

/*-------- GENERAL TYPOGRAPHY --------*/
p, li, a {
  font-size: $font-size-2;
}

p, h1, h2, h3, h4, legend {
  color: $black-text;
}

.intro-text {
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 0.0625rem solid #eee;
}


/*-------- LINKS --------*/
a {
  color: $link;
  &:visited {
    text-decoration: none;
    color: $link;
  }
  &:hover {
    color: $visited-link;
  }
}
