$footer-background: #464646;

$visited-link: #0099CC;;

$link: #00cd00;

$nav-bar-background: #FFFFFF;

$black-text: #000000; 

$white-text: #FFFFFF;

$color-behind-navbar: #000000;

$body-background-color: #464646;

$bubble-background: #CDDDDD;


