li {
  text-align: left;
}

li.nav {
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-size: large;
  background-color: $nav-bar-background;
}

ul.nav {
  background-color: $color-behind-navbar;
  opacity: 0.90;
}

li.active {
  text-decoration: underline;
}

li.active > a {
  color: $black-text;
}

@media (max-width: 650px){
  li.nav {
    line-height: normal;
    font-size: medium;
  }
  .nav>li>a{
    padding: 5px
  }
}
