.card-list {
  padding-left: 0;
}

.card {
  list-style: none;
  text-align: center;
  border-bottom: 1px solid $off-white;
  &__header {
    &--title { 
      margin: 0;
    }
  }
  &__tags-label{
    display: inline;
  }
  &__tag {
    background-color: $green;
    border-radius: 0;
    color: white;
    display: inline-block;
    font-size: $font-size-1;
    margin-top: 0.5rem;
    padding: 0.25rem;
  }
  &__main-body-container {
    &:after {
        content: "";
        clear: both;
        display: table;
    }
  }
  &__image {
    border-radius: 1rem;
    float: left;
    margin-right: 1rem;
    width: unset;
  }
  &__text {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  &__footer {;
    text-align: center;
    margin: 1rem 0 3rem 0;
    &--button {
      display: inline-block;
      margin: 0.5rem;
    }
  }
}