.card-list {
  padding-left: 0;
}

.card {
  list-style: none;
  border-top: 2px solid $dark-teal;
  padding-top: 2rem;

  &:first-of-type {
    border-top: 0;
    padding-top: 0;
  }
  &__header {
    &--title { 
      margin: 0;
    }
  }
  &__tags-label{
    display: inline;
  }
  &__tag {
    background-color: $green;
    border-radius: 0;
    color: white;
    display: inline-block;
    font-size: $font-size-1;
    margin-top: 0.5rem;
    padding: 0.4rem;
  }
  &__main-body-container {
    &:after {
        content: "";
        clear: both;
        display: table;
    }
  }
  &__image {
    border-radius: 1rem;
    float: right;
    margin-left: 1rem;
    width: unset;
  }
  &__footer {
    margin: 1rem 0 2rem 0;
    &--button {
      display: inline-block;
      margin: 0.5rem;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}