---
layout: default
---
<a href="/blog.html">&#8592; Back to the blog homepage</a>
<article class="h-entry">
	<img class="blog__image" src="/assets/images/blog-photos/{{ page.header_image_filename }}" alt="{{ page.header_image_alt }}" />
	
	<h1 class="blog__title p-name"> {{ page.title }} </h1>

	<p class="blog__date">Published by <a href="https://webdevbev.co.uk" rel="author" class="p-author h-card">Beverley Newing</a> on <time class="dt-published">{{ page.publish_date }}</time></p>
	
	<div class="e-content">
		{{ content }}
	</div>

	<h2 id="social-media-responses">Responses</h2>
	<p>If you'd like to interact with this blog post, head on over to the Tweet about it:</p>	
		{{ page.webmention_tweet }}
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</article>